<template>
	<div
		id="sidebar"
		:class="{ 'slim-sidebar w-12': isSlim }"
		:style="{ minWidth: isSlim ? null : '14rem' }"
		aria-label="sidebar"
		class="top-0 left-0 flex flex-col h-screen bg-panels-bg text-foreground"
		role="navigation"
	>
		<router-link
			v-for="link in links"
			:key="link.name"
			:aria-label="link.ariaLabel"
			:class="{ 'bg-background-main': activeTablink === link.name }"
			:to="{ name: link.routerName }"
			class="relative flex items-center no-underline group main_tablinks hover:bg-background-main text-foreground"
			style="padding: 2%"
			@click.native="activeTablink = link.name"
		>
			<i
				:class="{ 'text-primary': activeTablink === link.name }"
				class="p-2 text-3xl material-icons side_icon group-hover:text-primary"
			>
				{{ link.icon }}
			</i>
			<span :class="{ hidden: isSlim }" class="ml-3 overflow-hidden capitalize whitespace-no-wrap main-tablinks-text">
				{{ $t(link.label) }}
			</span>
			<span
				v-if="link.name === 'about' && updateAvailable"
				id="update-notification"
				class="absolute w-3 h-3 bg-red-600 rounded-full"
			></span>
		</router-link>
	</div>
</template>

<script>
import { computed, defineComponent, reactive, toRefs } from '@vue/composition-api'

import { links } from '@/data/sidebar'
import { useTheme } from '@/use/theme'

import deemixIcon from '@/assets/deemix-icon.svg'

export default defineComponent({
	setup(_, ctx) {
		const activeTab = links.find(link => link.routerName === ctx.root.$route.name)

		const state = reactive({
			activeTablink: activeTab ? activeTab.name : 'home',
			links
		})
		const { THEMES, currentTheme } = useTheme()

		/* === Add update notification near info === */
		const updateAvailable = computed(() => ctx.root.$store.state.appInfo.updateAvailable)

		ctx.root.$router.afterEach(to => {
			const linkInSidebar = state.links.find(link => link.routerName === to.name)

			if (!linkInSidebar) return

			state.activeTablink = linkInSidebar.name
		})

		return {
			...toRefs(state),
			updateAvailable,
			THEMES,
			currentTheme,
			isSlim: computed(() => ctx.root.$store.getters.getSlimSidebar),
			deemixIcon
		}
	}
})
</script>

<style scoped>
.deemix-icon-container {
	display: grid;
	place-content: center;
}
.slim-sidebar .deemix-icon-container {
	margin: 0.5rem 0;
}
.slim-sidebar .deemix-icon-container::v-deep svg {
	height: 30px;
	width: auto;
}
.deemix-icon-container::v-deep svg {
	height: 75px;
	width: auto;
}

#update-notification {
	top: 12px;
	left: 30px;
}
#sidebar {
	right: 0;
	left: 0;
	bottom: 0;
	top: auto;
	position: fixed;
	z-index: 51;
	height: 4.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 100%;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

.theme_toggler {
	transition: border 200ms ease-in-out;
}
.theme_toggler--active {
	border-width: 3px;
}
.theme_toggler--light {
	background-color: #fff;
}
.theme_toggler--dark {
	background-color: #141414;
}
.theme_toggler--purple {
	background: #460eaf;
}
</style>
